nav {
    margin-top: 2vh;
    margin-bottom: 5vh;


}

#navbar {
    display: flex;
    height: auto;
    background-color: lightblue;
    flex-wrap: none;
    margin: 0;
    width: 100%;

}

#homebtn {
    color: green;
}

body {
    min-height: 95vh;
    width: 100%;
}

footer {
    align-self: flex-end;

}