nav {
    margin-top: 2vh;
    margin-bottom: 5vh;
    list-style: none;
}

#navbar {
    display: flex;
    height: auto;
    background-color: rgb(153, 211, 153);
    flex-wrap: none;
    margin: 0;
    width: 100%;
    list-style: none;
}

#homebtn {
    color: black;
    font-size: larger;
    font-family: 'Apple Chancery';
    align-items: center;
    margin-top: 2px;

  
}

#navbtn {
    color:black;
    font-size: large;
    font-family: 'Apple Chancery';
    margin-top: 2px;
    list-style: none;


}

.Navbar-nav {
    padding-right: 6px;
    padding-left: 6px;
    list-style: none
}



body {
    min-height: 95vh;
    width: 100%;
}

.hidden_btn {
    color: white;
    text-decoration: none;
}

footer {
    align-self: flex-end;
    background-color: rgb(153, 211, 153);

}