nav {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#navbar {
    display: flex;
    height: auto;
    background-color: rgb(153, 211, 153);
    flex-wrap: none;
    margin: 0;
    width: 100%;
}

#homebtn {
    color: green;
    padding-right: 5px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#navbtn {
    color:black;
}

.Navbar-nav {
    padding-right: 6px;
    padding-left: 6px;
}



body {
    min-height: 95vh;
    width: 100%;
}

.hidden_btn {
    color: white;
    text-decoration: none;
}

footer {
    align-self: flex-end;
    background-color: rgb(153, 211, 153);

}