{% extends "layout.html" %}

{% block main %}
    <body>
        <container class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <p id="homebtn">There was an error</p>
                <img src="/static/images/error.jpg" alt="baby has head down as father just looks in worry" height="300" width="400">
                
                <p> {{ message }}</p>
                <a class="btn btn-secondary" href="/">Return Home</a>
            </div>
        </container>
    </body>

{% endblock %}

