{% extends "layout.html" %}

{% block main %}

    <container class="container">
        <div class="row">
            <div class="col">
                <h8> Your Recipies</h8>
                {% if user_meals %}
                    {% for meal in user_meals %}
                        <ul>
                            <li>{{ meal }}</li>
                            <button action="/delete_meal" method="DELETE">
                                <input type ="submit" value="Delete"/>
                            </button>
                        </ul>
                    {% endfor %}
                {% else %}

                    <p>No Recipes Added</p>

                {% endif %}
            </div>
            
            <div class="col">
                <div>
                    <h8>Available Recipes</h8>
                    {% for meal in all_meals%}
                        <p> {{ meal[0] }}</p>
                        <button name="add_recipe_btn" id=" {{ meal[1] }}" value =" {{ meal[0] }}" onClick="add_recipe(this.value, this.id)">Add to Your Recipes</button>
                        
                    {% endfor %}
                </div>
                <h8>Would you like to add a new meal item?</h8>
                <a href ="/add_meal">Add New Meal Item</a>
            </div>
        </div>
    </container>

{% endblock %}