{% extends "layout.html" %}

{% block main %}

    <container class="container">
        <div class="container justify-content-center">
            <h8> Your Recipies</h8>
            {% if meal_list %}
                {% for meal in meal_list %}
                    <ul>
                        <li>{{ meal }}</li>
                        <form action="/delete_meal" method="DELETE">
                            <input type ="submit" value="Delete"/>
                        </form>
                    </ul>
                {% endfor %}
            {% else %}

                <p>No Recipes Added</p>

            {% endif %}
        </div>
        
        <div class="justify-content-center">
            <h8>Would you like to add a new meal item?</h8>
            <a href ="/add_food">Add New Meal Item</a>
        </div>
        




    </container>

{% endblock %}