{% extends "layout.html" %}

{% block main %}

    <container class="container">
        <div class="justify-content-center">
            <h8>Would you like to add a new meal item?</h8>
            <form action="/food" method ="post">
                <div>
                    <input autocomplete="off" type ="text" autofocus name = "foodname" placeholder="Enter meal item">
                    
                    <input class="form-check-input" type ="checkbox" id="vegan" name="vegan" value="vegan">
                    <label for="vegan">vegan</label>
                    <input class="form-check-input"type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian" value="vegetarian">
                    <label for="vegetarian">vegetarian</label>
                    <input class="form-check-input" type="checkbox" id="dairy" name="dairy" value="dairy">
                    <label for ="dairy">dairy</label>
                    <input class="form-check-input" type="checkbox" id="gf" name="gf" value="gf">
                    <label for="gf">gluton free</label>

                    
                </div>
                <button type="submit" class="btn btn-success"> Add new Meal Item</button>



            </form>
        </div>
        <div class="container justify-content-center">
            <h8> Here's a List of the Recipies you like</h8>
            {% for food in foods %}
                <ul>
                    <li>{ food }</li>
                </ul>
            {% endblock %}
        </div>




    </container>

{% endblock %}