{% extends "layout.html" %}

{% block main %}

<container>
    <h1 class="justify-center">Welcome {{ user_name }}</h1>

    <div>
        <p>The week's meals at a glance</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <!-- need to add in jinja code to display proper food/menu items-->
            <tbody>
                <td id="sunday">{{ meal_plan[0][0]}}</td>
                <td id="monday">{{ meal_plan[1]}}</td>
                <td id="tuesday"></td>
                <td id="wednesday"></td>
                <td id="thursday"></td>
                <td id="friday"></td>
                <td id="saturday"></td>
            </tbody>


        </table>
    </div>

    <form action="/mealplan" method="post" class="d-flex flex-coloumn justify-content-center">

        <div class="flex-coloumn">
            <!--container for choosing a meal-->
            <div class="flex-coloumn">
                <select class="form-select" aria-label="mealoptions" name="meal">
                    <option selected>Choose a Meal</option>
                    <option value="Random">Random</option>
                    {% for meal in meals %}
                    
                    <option value="{{ meal[1] }}">{{ meal[0] }}</option>
                
                    {% endfor %}

                </select>

            </div>

            <!-- container for choosing a day to add said meal to-->
            <div class="flex-coloumn">
                <select class="form-select" aria-label="dayOptions" name="day">
                    <option selected>Choose a day</option>

                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>

                </select>
            </div>

            <button class="btn btn-success">Submit</button>
        </div>


    </form>

</container>

{% endblock %}