{% extends "layout.html" %}

{% block main %}

<container>
    <h1 class="justify-center">Welcome {{ user_name }}</h1>

    <div>
        <p>The week's meals at a glance</p>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <!-- need to add in ninja code to display proper food/menu items-->
            <tbody>
                <td class="mealday">Menu Items Go here</td>
                <td class="mealday"></td>
                <td class="mealday"></td>
                <td class="mealday"></td>
                <td class="mealday"></td>
                <td class="mealday"></td>
                <td class="mealday"></td>
            </tbody>


        </table>
    </div>

    <div class="d-flex flex-coloumn justify-content-center">
        
            <form action="/">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Sumeal">Choose a Meal</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Momeal">Choose a Meal</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Tumeal">Choose a Meal</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Wedmeal">Choose a Meal</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Thmeal">Choose a Meal</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Frimeal">Choose a Meal</button>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="Sameal">Choose a Meal</button>
                </div>
                <datalist class="dropdown-menu" aria-labelledby= "dropdownMenuButton" >
                    <a class="dropdown-item" href="/addcalendar(wings)" id ="wings">Wings</a>
                    <a class="dropdown-item" href="/addcalendar(frogleggs)" id ="Frog Legs">Frog Legs</a>
                    {% for meal in meals %}
                    <a class="dropdown-item" href="/addcalendar" id="{{ meal }}">
                    {% endfor %}
                </datalist>
                <button class="btn btn-Success">Submit</button>            
            </form>  


    </div>

</container>

{% endblock %}


