{% extends "layout.html" %}

{% block main %}


<container>
    <form action ="/login" method="post">
        <input name ="username" autocomplete="off" type="text" placeholder="Username" autofocus >
        <input name ="password" autocomplete="off" type="password" placeholder="password" autofocus>
        <input name ="confirmation" autocomplete="off" type="password" placeholder="retype password" autofocus>
        <button type="submit">Login</button>
    
    </form>
</container>




{% endblock %}