{% extends "layout.html" %}

{% block main %}
<container>
    <h3> Create a Name and Password to Join! </h3>

</container>

<container>
    <form action ="/register" method="post">
        <div class="mb-3">
            <input name ="username" autocomplete="off" type="text" placeholder="Username" autofocus >
        </div>
        <div class="mb-3">
            <input name ="password" autocomplete="off" type="password" placeholder="password" autofocus>
        </div>
        <div class="mb-3">    
            <input name ="confirmation" autocomplete="off" type="password" placeholder="retype password" autofocus>
        </div>
        <button type="submit" class="btn-success">Register</button>
    
    </form>
</container>




{% endblock %}